ion-tab-bar {
  --background: rgb(248, 248, 248);
  border-top: 1px solid rgb(204, 204, 204);
}

ion-tab-button {
  --color: rgb(102, 102, 102);
  --color-selected: rgb(56, 128, 255);
}

ion-tab-button ion-icon {
  font-size: 22px;
}

ion-tab-button ion-label {
  font-size: 12px;
}